* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: rgb(65, 65, 65);
  color: whitesmoke;
  font-family: "Noto Sans", sans-serif;
  width: calc(100vw - 2px);
  height: 100vh;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: whitesmoke;
}

#app {
  width: 100%;
  height: 100%;
}

.full-screen-background {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-content {
  backdrop-filter: blur(10px) brightness(60%);
  min-height: 100%;
  width: 100%;
  overflow: auto;
  padding-top: 70px;
  padding-right: 5%;
  padding-left: 5%;
  .section-title {
    font-size: 2rem;
    padding-top: 2rem;
  }
  .page-section {
    background-color: rgb(80, 80, 80);
    padding: 20px;
    border-left: white solid 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
    .section-title {
      font-size: 1.5rem;
      padding-top: 0;
      .company {
        font-size: 1rem;
      }
    }
    .section-listing-sm {
      display: flex;
      flex-wrap: wrap;
      .listing-item-sm {
        display: flex;
        gap: 6px;
        align-items: center;
        min-width: 33%;
        @media only screen and (max-width: 1000px) {
          min-width: 50%;
        }
        @media only screen and (max-width: 700px) {
          min-width: 100%;
        }
      }
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 250ms;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
